*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

:root {
  --primary: #ED4264;
  --secondary: #FFEDBC;
  --modal-duration: 0.5s;
}

body{
  font-family: 'Poppins' ,sans-serif;
  overflow:hidden;
}

.main-container {
  position:relative;
  min-height: 100vh;
  display:flex;
  /* background-color: antiquewhite; */
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(var(--primary),var(--secondary));
  z-index: 3;
}

.left{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  flex:0.6;
  
}

.left-text{
  display:flex;
  flex-direction: column;
}

.left-text .left-text-small{
  font-size:2rem;
  background-color: #f3ec78;
    background-image: linear-gradient(250deg, var(--secondary), #ffffff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.left h1 {
  margin-bottom: -50px;
  color:white;
  opacity: 0;
  font-size:12rem;
  letter-spacing: -9px;
  transform: translateX(-500px) scale(0);
  text-shadow: 10px 7px 18px rgb(34, 34, 34);
}

.left p {
  
  color:white;
  font-size:3rem;
  font-weight: 600;
  letter-spacing: -2px;
  transform: translateX(-500px);
  opacity:0.5;
  margin-left:10px;
}

/* button{
  padding:8px 16px;
  font-family: 'Poppins' ,sans-serif;
  font-size:2rem;
  border:none;
  border-radius: 8px;
  color:#0ABFBC;
  margin-top:12px;
  margin-left:10px;
  cursor:pointer;
  background:transparent;
  background-color:white;
  min-width:50%;
  width:80px;
  box-shadow: 1px 1px 30px rgb(19, 19, 19) 
} */

button:focus {
  outline: none;
}

.right{
  position: relative;
  display:block;
  color:white;
  opacity:1;
  overflow: hidden;
  
}

.right .big{
  flex:1;
  background-color: blue;

}

.projects{
  display:grid;
  grid-template-columns: 1fr 1fr ;
  padding:4px;
  margin:50px;
  
}

.projects-box {
  cursor:pointer;
  text-align: center;
  letter-spacing: 2px;
  padding :8px;
  margin:5px;
  border:1px solid white;
  min-width:200px;
  width:100px;
  transition: 0.2s ease-in-out ;
  
}

.projects-box:hover{
  transform:scale(1.0500)
}


.send{
  position:absolute;
  top:1%;
  right:2%;
  width:120px;
  padding:20px;
  cursor:pointer;
  width:100px;
}

.send img{
  width:70px;
}




/* //Media Queries */


@media (max-width:1080px){
  .main-container {
    flex-direction: column;
  }
  .left h1 {
    font-size: 8rem;
    margin-bottom:10px;
    
  }
  .left p {
    font-size:2rem;
    
  }

  svg {
    bottom:570px;
    right:20px;
    width:100px;
  }
    /* .projects {
      display:flex;
      flex-direction: column;
      margin-bottom: 500px;
      justify-content: center;
      justify-self: center;
      margin-right:280px; */
}

.modal-container {
  background-color: rgba(0,0,0,.6);
  display:none;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 50;
}



.modal-container.show-modal {
  display:block;
  
}

.modal {
  background-color: rgb(133, 83, 83);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  position:absolute;
  overflow: hidden;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-width:100%;
  width:900px;
  height:900px;
  animation-name: modalopen;
  animation-duration:var(--modal-duration);
  z-index: 23;
}

.modal h2 {
  font-size: 5rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity:1
  }
}




  @media (max-width:553px){
    .projects {
      display:flex;
      flex-direction: column;
    }
    svg {
      bottom:570px;
      right:10px;
      width:100px;
      
    }
    .left p {
      font-size:2rem;
      
      }
}

    @media (max-width:476px){
      .main-container {
        flex-direction: column;
      }
      .left h1 {
        font-size: 6rem;
        
        
      }
      .left-text .left-text-small {
        font-size:1.2rem;
        
        }

      .projects {
        justify-content: center;
        justify-self: center;
        margin-right:140px;
      }
}